[Desktop Entry]
Type=Application
Name=installer
GenericName=installer
Comment=Application
Icon=dev.rlxos.Installer
StartupNotify=true
Exec=/bin/pkexec /bin/installer 2>&1 1>/tmp/installer
Categories=GNOME;GTK;
