[submodule "src/initial-setup"]
	path = src/initial-setup
	url = git@github.com:itsmanjeet/initial-setup
[submodule "src/srclang"]
	path = src/srclang
	url = git@github.com:itsmanjeet/srclang

[submodule "src/pkgupd"]
	path = src/pkgupd
	url = git@github.com:itsmanjeet/pkgupd
