/build
/pkgs
/Dockerfile
/tmp
/disk.qcow2
/secure
/*.iso
/sources
/.version
/discord-bolt
/scripts/.env
/book
**/__pkgupd_builddir__
*.qcow2
/venv
/.venv
/.bash_history
/storage
/sources
.uuid
/_files