[Desktop Entry]
Name=Open-Office
Comment=Use Open-Office to edit documents.
Exec=@@exec@@ %U
GenericName=Open-Office
MimeType=application/wps-office.wps;application/wps-office.wpt;application/wps-office.wpso;application/wps-office.wpss;application/wps-office.doc;application/wps-office.dot;application/vnd.ms-word;application/msword;application/x-msword;application/msword-template;application/wps-office.docx;application/wps-office.dotx;application/rtf;application/vnd.ms-word.document.macroEnabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.document;x-scheme-handler/ksoqing;x-scheme-handler/ksowps;x-scheme-handler/ksowpp;x-scheme-handler/ksoet;x-scheme-handler/ksowpscloudsvr;x-scheme-handler/ksowebstartupwps;x-scheme-handler/ksowebstartupet;x-scheme-handler/ksowebstartupwpp;
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;WordProcessor;Spreadsheet;Presentation;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=openoffice
InitialPreference=3
StartupWMClass=ooffice
Actions=Writer;Spreadsheets;Presentation;Draw;Database;Math;


[Desktop Action Writer]
Name=Writer
Exec=@@exec@@ --writer %U

[Desktop Action Spreadsheets]
Name=Open-Office Spreadsheets
Exec=@@exec@@ --spreadsheets %U

[Desktop Action Presentation]
Name=Open-Office Presentation
Exec=@@exec@@ --presentation %U

[Desktop Action Draw]
Name=Open-Office Draw
Exec=@@exec@@ --draw %U

[Desktop Action Database]
Name=Open-Office Database
Exec=@@exec@@ --base %U

[Desktop Action Math]
Name=Math
Exec=@@exec@@ --math %U