[Unit]
Description=rlxos live boot setup
DefaultDependencies=no
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=@@libexecdir@@/liveboot
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target