[user]
pinned=/usr/share/applications/thunar.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/xfce4-appfinder.desktop;/usr/share/applications/mousepad.desktop;/usr/share/applications/ristretto.desktop;/usr/share/applications/xfce-settings-manager.desktop;/usr/share/applications/org.xfce.Parole.desktop;
