[Desktop Entry]
Type=Application
Name=System Setup
Exec=/bin/sys-setup
Icon=download
Comment=rlxos System setup tool
StartupNotify=false
Terminal=false
