[Desktop Entry]
Type=Application
Name=System Setup
Exec=pkexec /bin/sys-setup-usr
Icon=download
Comment=rlxos System setup tool
StartupNotify=false
Terminal=false
