set default="RLXOS Linux"
set timeout=10

insmod all_video

if loadfont /boot/grub/fonts/unicode.pf2; then
    set gfxmode=800x600
    insmod efi_gop
    insmod efi_uga
    insmod video_bochs
    insmod video_cirrus
    insmod gfxterm
    insmod png
    terminal_output gfxterm
fi


menuentry "RLXOS Linux" {
    linux /boot/bzImage root=live:LABEL=RLXOS rd.live=1 rd.live.overlay.overlayfs=1
    initrd /boot/initrd
}