id: gsettings-desktop-schemas
version: 46.0
about:
  GSettings Desktop Schemas package contains a collection of GSettings schemas
  for settings shared by various components of a GNOME Desktop

depends:
  - components/glib.yml
  - components/gobject-introspection.yml

sources:
  - https://download.gnome.org/sources/gsettings-desktop-schemas/%{version:1}/gsettings-desktop-schemas-%{version}.tar.xz

pre-script: |
  sed -i -r "s:\"(/system):\"/org/gnome\\1:g" schemas/*.in
