id: kconfigwidgets
version: 5.94.0
about: KF5 kconfigwidgets
release: 0
depends:
- components/kauth.yml
- components/kcodecs.yml
- components/kconfig.yml
- components/kguiaddons.yml
- components/ki18n.yml
- components/kwidgetsaddons.yml
build-time:
- components/extra-cmake-modules.yml
- components/perl.yml
- components/kdoctools.yml
sources:
- https://download.kde.org/stable/frameworks/5.94/%{id}-%{version}.tar.xz
configure: |
  -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=OFF -Wno-dev

