id: kconfigwidgets
about: KF5 kconfigwidgets
merge: [elements/include/kf5.yml]
depends:
  - components/kauth.yml
  - components/kcodecs.yml
  - components/kconfig.yml
  - components/kguiaddons.yml
  - components/ki18n.yml
  - components/kwidgetsaddons.yml
build-time:
  - components/extra-cmake-modules.yml
  - components/perl.yml
  - components/kdoctools.yml
