set default="RLXOS GNU/Linux"
set timeout=10

menuentry "RLXOS GNU/Linux" {
	insmod all_video

	linux /boot/bzImage root=LABEL=RLXOS rootwait live debug console=tty0 console=ttyS0
	initrd /boot/initramfs.img
}
