[Desktop Entry]
Name=Peek
Exec=@@exec@@
GenericName[ar]=مسجل صور متحركة
GenericName[ca]=Enregistrador de GIF animats
GenericName[cs]=Nahrává dění na obrazovce do formátu GIF
GenericName[de]=Aufnahme von GIF-Animationen
GenericName[eo]=GIF-movbilda registrilo
GenericName[es]=Grabador de GIF animados
GenericName[eu]=GIF animatuen grabagailua
GenericName[fr]=Enregistreur de GIF animés
GenericName[he]=תוכנה להקלטת GIF
GenericName[hr]=Snimač GIF animacija
GenericName[id]=Perekam Animasi GIF
GenericName[it]=Registratore di GIF animate
GenericName[ja]=アニメーション GIF レコーダー
GenericName[ko]=애니메이션 GIF 레코더
GenericName[lt]=Animuotų GIF įrašytuvas
GenericName[nb]=Animert GIF-opptaker
GenericName[nl]=Bewegende GIF-opname
GenericName[pl]=Animowana nagrywarka GIF
GenericName[pt_BR]=Gravador de GIF animado
GenericName[pt_PT]=Gravador de GIF animado
GenericName[ru]=Съёмка анимированных GIF
GenericName[sr]=Снимач анимираних GIF-ова
GenericName[sv]=Animerad GIF-inspelare
GenericName[tr]=Animasyonlu GIF kaydedici
GenericName[uk_UA]=Записувач GIF анімації
GenericName[zh_CN]=GIF 动画录制器
GenericName[zh_TW]=GIF 動畫錄製軟體
GenericName=Animated GIF recorder
Comment[ar]=تسجيل صور متحركة قصيرة من شاشة حاسوبك
Comment[cs]=Nahrávat dění na obrazovce do formátu GIF
Comment[de]=Kurze GIF-Animationen vom Bildschirm aufnehmen
Comment[eo]=Registri mallongajn GIF-movbildojn de via ekrano
Comment[es]=Grabe GIF animados cortos desde su pantalla
Comment[eu]=Grabatu zure pantailaren gif animatu txikiak
Comment[fi]=Nauhoita lyhyitä GIF-animaatioita näytöltäsi
Comment[fr]=Enregistrer de courtes images animées GIF de votre écran
Comment[he]=הקלט קבצי GIF מונפשים מהמסך שלך
Comment[hr]=Snimi kratke GIF animacije s ekrana
Comment[id]=Rekam gambar animasi GIF pendek dari layar anda
Comment[it]=Registra piccole animazioni GIF dal tuo schermo
Comment[ja]=スクリーンから短いアニメーション GIF イメージを録画します
Comment[ko]=화면에서 짧은 애니메이션 GIF 이미지들을 녹화합니다
Comment[lt]=Įrašinėti trumpus animuotus GIF paveikslus iš jūsų ekrano
Comment[nb]=Ta opp korte animerte GIF-avbildninger av skjermen din
Comment[nl]=Korte, bewegende GIF-afbeeldingen opnemen op je scherm
Comment[pl]=Nagraj krótkie animowane obrazy GIF z twojego ekranu
Comment[pt_BR]=Grave pequenas GIFs animadas a partir da sua tela
Comment[pt_PT]=Grava uma animação curta de imagens GIF a partir do ecrã
Comment[ru]=Записывайте короткие анимированные GIF со своего экрана
Comment[sr]=Снимајте кратке анимиране GIF слике на вашем екрану
Comment[sv]=Spela in korta animerade GIF-bilder från skärmen
Comment[uk_UA]=Запис коротких анімованих GIF зображень з екрану
Comment[zh_CN]=录制屏幕，制成小巧的 GIF 动画
Comment[zh_TW]=從您的螢幕上錄製簡短的 GIF 動畫
Comment=Record short animated GIF images from your screen
Keywords[cs]=záznam obrazovky;nahrávání obrazovky;snímání obrazovky;GIF;WebM;APNG;
Keywords[de]=screencast;screen recorder;Bildschirmaufnahme;GIF;WebM;APNG;
Keywords[eo]=ekranregistrado;ekrana registrilo;GIF;WebM;APNG;
Keywords[es]=screencast;grabador de pantalla;captura de pantalla;GIF;WebM;APNG;
Keywords[eu]=pantaila grabazioa;pantaila grabagailua;pantaila kaptura;GIF;WebM;APNG;
Keywords[fr]=screen recorder;screen capture;GIF;WebM;APNG;
Keywords[hr]=prezentacija ekrana;snimanje ekrana;GIF;WebM;APNG;
Keywords[id]=screencast;perekam layar;tangkapan layar;GIF;WebM;APNG;
Keywords[ja]=スクリーンキャスト;スクリーンレコーダー;スクリーンキャプチャー;screencast;screen recorder;screen capture;GIF;WebM;APNG;
Keywords[lt]=ekrano įrašas;ekrano įrašymas;ekrano rašytuvas;GIF;WebM;APNG;
Keywords[nb]=skjerminnspilling;skjermopptaker;skjermklipp;GIF;WebM;APNG;
Keywords[nl]=screencast;schermopname;vastleggen;GIF;WebM;APNG;
Keywords[pl]=zrzut ekranu;rejestrator ekranu;przechwytywanie ekranu;GIF;WebM;APNG;
Keywords[pt_BR]=screencast;gravação de tela;captura de tela;GIF;WebM;APNG;
Keywords[pt_PT]=screencast;gravação de ecrã;gravar ecrã;GIF;WebM;APNG;
Keywords[ru]=screencast;screen recorder;screen capture;GIF;WebM;APNG;
Keywords[sr]=screencast;screen recorder;screen capture;GIF;WebM;APNG;скринкест;снимање екрана;хватање екрана;ГИФ;Вебм;АПНГ;skrinkest;snimanje ekrana;hvatanje ekrana;VebM;
Keywords[sv]=skärminspelning;skärminspelare;skärmklipp;GIF;WebM;APNG;
Keywords[zh_CN]=screencast;screen recorder;screen capture;GIF;WebM;APNG;截屏;屏幕录制;屏幕抓取;
Keywords[zh_TW]=螢幕截圖;螢幕錄製;螢幕截圖;GIF;WebM;APNG;
Keywords=screencast;screen recorder;screen capture;GIF;WebM;APNG;
Icon=peek
Type=Application
Categories=GTK;GNOME;Graphics;2DGraphics;AudioVideo;Video;Recorder;
StartupNotify=true
Terminal=false
