[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Subsystem
Comment=rlxos SubSystem
Exec=machinectl shell rlxos@subsystem
Icon=subsystem
Terminal=true
Type=Application
Categories=System;
StartupNotify=true