[Desktop Entry]
Version=1.0
Type=Application
Name=tcc
Exec=@@exec@@
Icon=library
Comment=A Tiny C Compiler
Categories=Development;
Terminal=true
StartupNotify=true