[Desktop Entry]
Version=1.0
Type=Application
Name=source
Exec=@@exec@@
Icon=source
Comment=A simple and easy to learn programming language
Categories=Development;
Terminal=true
StartupNotify=true