[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=/bin/pkgupd-url %u
Name=PKGUPD
Comment=rlxos Package Manager
Icon=download
Categories=System;
MimeType=x-scheme-handler/pkgupd;
