name: Build and Release
on:
  workflow_dispatch:
  push:

env:
  CACHE_PATH: ${{secrets.SERVER_REPO_PATH}}
  OSTREE_REPO: ${{secrets.OSTREE_REPO_PATH}}
  OSTREE_GPG: ${{secrets.OSTREE_GPG_PATH}}
  VERSION: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || 'continuous' }}
  CHANNEL: ${{ endsWith(github.ref, 'stable') && 'stable' || (endsWith(github.ref, 'next') && 'next' || 'unstable')  }}
  OSTREE_BRANCH: "x86_64/os/${{ endsWith(github.ref, 'stable') && 'stable' || (endsWith(github.ref, 'next') && 'next' || 'unstable')  }}"
  SIGN_KEYS_PATH: ${{secrets.SIGN_KEYS_PATH}}

jobs:
  build:
    name: Build Collection
    runs-on: self-hosted
    timeout-minutes: 47000

    steps:
      - uses: actions/checkout@v1
        with:
          token: ${{ secrets.CI_TOKEN }}
          submodules: true
      - name: Add sign keys
        run: rm -rf files/sign-keys && cp -r ${SIGN_KEYS_PATH} files/sign-keys

      - name: Write changelog
        run: echo -e "${{ github.event.head_commit.message }}" > ChangeLog

      - name: Build Installer ISO
        run: make ELEMENT=installer/image.yml

      - name: Checkout installer iso
        run: |
          make checkout ELEMENT=installer/image.yml DESTDIR=${CACHE_PATH}/releases/${CHANNEL}
          (cd ${CACHE_PATH}/releases/${CHANNEL}/; zsyncmake -b 2048 -C -u http://repo.avyos.dev/releases/${CHANNEL}/avyos-${CHANNEL}-installer.iso avyos-${CHANNEL}-installer.iso)

      - name: Update Ostree
        run: make ELEMENT=system/repo.yml update-ostree

      - name: Update extensions
        run: make extensions
      
      - name: Upload to sourceforge
        run: scp -pr ${CACHE_PATH}/releases/${CHANNEL}/ itsmanjeet@frs.sourceforge.net:/home/frs/p/avyos/releases/