name: check-updates
on:
  schedule:
    - cron: "* 0 * * *"
  workflow_dispatch:

jobs:
  check-updates:
    name: check-updates
    runs-on: self-hosted
    timeout-minutes: 46000

    steps:
      - uses: actions/checkout@v1

      - name: Compile Ignite
        run: make

      - name: Check Updates
        run: ./build/ignite check-update
