[Desktop Entry]
Name=Open-Office
Comment=Use Open-Office to edit documents.
Exec=openoffice %U
GenericName=Open-Office
MimeType=application/wps-office.wps;application/wps-office.wpt;application/wps-office.wpso;application/wps-office.wpss;application/wps-office.doc;application/wps-office.dot;application/vnd.ms-word;application/msword;application/x-msword;application/msword-template;application/wps-office.docx;application/wps-office.dotx;application/rtf;application/vnd.ms-word.document.macroEnabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.document;x-scheme-handler/ksoqing;x-scheme-handler/ksowps;x-scheme-handler/ksowpp;x-scheme-handler/ksoet;x-scheme-handler/ksowpscloudsvr;x-scheme-handler/ksowebstartupwps;x-scheme-handler/ksowebstartupet;x-scheme-handler/ksowebstartupwpp;
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;WordProcessor;Spreadsheet;Presentation;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=openoffice
InitialPreference=3
StartupWMClass=ooffice

Actions=Writer;Spreadsheets;Presentation;Draw;Database;Math;


[Desktop Action Writer]
Name=Writer
GenericName=Open-Office Writer
Comment=Use Open-Office Writer to edit articles and reports.
MimeType=application/wps-office.wps;application/wps-office.wpt;application/wps-office.wpso;application/wps-office.wpss;application/wps-office.doc;application/wps-office.dot;application/vnd.ms-word;application/msword;application/x-msword;application/msword-template;application/wps-office.docx;application/wps-office.dotx;application/rtf;application/vnd.ms-word.document.macroEnabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.document;x-scheme-handler/ksoqing;x-scheme-handler/ksowps;x-scheme-handler/ksowpp;x-scheme-handler/ksoet;x-scheme-handler/ksowpscloudsvr;x-scheme-handler/ksowebstartupwps;x-scheme-handler/ksowebstartupet;x-scheme-handler/ksowebstartupwpp;
Categories=Office;WordProcessor;
Exec=openoffice --writer %U
StartupNotify=false

[Desktop Action Spreadsheets]
Name=Open-Office Spreadsheets
GenericName=Open-Office Spreadsheets
Comment=Use Open-Office Spreadsheets to analyze manage data.
MimeType=application/wps-office.et;application/wps-office.ett;application/wps-office.ets;application/wps-office.eto;application/wps-office.xls;application/wps-office.xlt;application/vnd.ms-excel;application/msexcel;application/x-msexcel;application/wps-office.xlsx;application/wps-office.xltx;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
Exec=openoffice --spreadsheets %U
StartupNotify=false

[Desktop Action Presentation]
Name=Open-Office Presentation
GenericName=Open-Office Presentation
Comment=Use Open-Office Presentation to edit and play presentations.
MimeType=application/wps-office.dps;application/wps-office.dpt;application/wps-office.dpss;application/wps-office.dpso;application/wps-office.ppt;application/wps-office.pot;application/vnd.ms-powerpoint;application/vnd.mspowerpoint;application/mspowerpoint;application/powerpoint;application/x-mspowerpoint;application/wps-office.pptx;application/wps-office.potx;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.openxmlformats-officedocument.presentationml.slideshow
Exec=openoffice --presentation %U
StartupNotify=false

[Desktop Action Draw]
Name=Open-Office Draw
GenericName=Open-Office Draw
Comment=Use Open-Office Draw to edit vector images.
Exec=openoffice --draw %U
StartupNotify=false

[Desktop Action Database]
Name=Open-Office Database
GenericName=Database
Exec=openoffice --base %U
StartupNotify=false

[Desktop Action Math]
Name=Math
GenericName=Open-Office Math
Exec=openoffice --math %U
StartupNotify=false